@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 21%,
    rgba(0, 212, 255, 1) 100%
  );
}
.app{
  text-align: center;
}
.user-name {
  color: #000;
  font-size: 15px;
}
.card {
  background-color: #fff;
  transition: 1s ease-in;
  min-width: 200px;
  box-shadow: 0px 0px 17px rgb(197 197 197);
  margin: 10px;
  padding: 10px;
  text-align: center;
  scale: 1;
  cursor: pointer;
}
.app-title{
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Bigelow Rules', cursive;
}
.card:hover {
  scale: 1.06;
  transition: 0.5s ease-in-out;
}
.card-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.search {
  padding: 20px;
}
.monster-img {
  width: 150px;
}
